*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0, 0, 0,0.55)),url(https://images.unsplash.com/photo-1563207153-f403bf289096?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
    background-size: cover;
    background-position: center;
    position: relative;

    
}

.navbar{
    background: linear-gradient(rgba(0,0,0,0.40),rgba(0, 0, 0,0.55)) transparent;
    width:100%;
    margin: auto;
    padding:0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    
}

.logo{
    width:50px;
    cursor: pointer;
    margin:5px;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
    color: white;
    position: relative;
    padding: 5px;
}


.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    margin: 10px 10px;
}

.navbar ul li::after{

    content: "";
    height: 3px;
    width:0;
    background: #22A39F;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}


.content h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: transparent;
    font-size: 400%;
    -webkit-text-stroke: 1px white;
    word-spacing: 4px;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
    background-position: -1250px 0;
    animation: backcolor 5s linear infinite alternate;
    background-image: linear-gradient(white,white);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
}

@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}


.content p{
    font-size: 200%;
    margin: 20px auto;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #22A39F;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
}

span{
    background: #22A39F;
    height: 100%;
    width: 0;
    border: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #101010;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0, 0, 0,0.65)),url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);;
}

.about-text{

    font-size: 15px;
    width: 450px;
    align-items: center;

}


.main{
    width: 1130px;
    max-width: 45%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.about-text h3{

    word-spacing: 3px;
    letter-spacing: 2px;
    color: #22A39F;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    font-weight: inherit;
    display: block;
    position: relative;
    animation: text 10s 2;
    -webkit-text-stroke: 1px #22A39F;

}
@keyframes text{
    0%{
        color: black;
        margin-bottom: 0px;
    }
    20%{
        letter-spacing: 25px;
        margin-bottom: 0px;
    }

}


.accordion{
    background-color: transparent;
    cursor: inherit;
    padding: 16px;
    width: 90%;
    text-align: middle;
    border: none;
    outline: none;
    transition: 0.5s;
    letter-spacing: 1px;
}

.active,.accordion:hover{
    background-color: #22A39F;

}
.panel{
    padding: 0 50px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.contact{
    width: 100%;
    height: 90px;
    background: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact h5{
    color: transparent;
    -webkit-text-stroke: 1.5px #22A39F;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -29px;
    letter-spacing: 2px;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

footer p{
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    font-weight:inherit;
    position: relative;
    align-items: bottom;
    text-align: inherit;
    letter-spacing: 2px;
    word-spacing: 3px;

}

